@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:not(.dark) {
  @apply [color-scheme:light];
}

html.dark {
  @apply [color-scheme:dark];
}

fieldset.fancy {
  @apply rounded border p-4 dark:border-neutral-500;
}

body {
  @apply dark:bg-neutral-800;
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

div:has(> label) {
  margin-bottom: 0.5rem;
}

p + div:has(> label):first-of-type {
  @apply /* border-top: thin solid rgb(229, 231, 235, 0.3); */ pt-4 dark:border-t-neutral-500;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
}

p {
  /* font-size: 1.05rem; */
  letter-spacing: 0.01ch;
  line-height: 1.7;
  margin-bottom: 1rem;
  /* font-weight: 500; */
}

.card {
  padding: 2em;
}

#app {
  min-width: 40vw;
  max-width: 60ch;
  margin: 0 auto;
  padding: 2rem;
}

button {
  @apply cursor-pointer rounded border border-transparent bg-blue-400 px-4 py-2 text-sm font-medium text-neutral-900 transition-colors hover:bg-blue-600 disabled:cursor-not-allowed disabled:bg-neutral-500 disabled:opacity-50 disabled:hover:bg-neutral-500 dark:bg-blue-800 dark:text-neutral-200 dark:hover:bg-blue-900 disabled:dark:text-neutral-400;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  :is(th, td) {
    text-align: left;
    padding: 0.25rem 0.5rem;
    vertical-align: top;
    /* border: thin solid rgb(229, 231, 235, 0.3); */
    @apply border border-neutral-300 dark:border-neutral-600;
  }
}

blockquote {
  @apply col-start-2 text-sm;
}
