@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
  @apply border border-neutral-500 rounded p-4;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

div:has(> label) {
  margin-bottom: 0.5rem;
}

p + div:has(> label):first-of-type {
  border-top: thin solid rgb(229, 231, 235, 0.3);
  padding-top: 1rem;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
}

p {
  /* font-size: 1.05rem; */
  letter-spacing: 0.01ch;
  line-height: 1.7;
  margin-bottom: 1rem;
  /* font-weight: 500; */
}

.card {
  padding: 2em;
}

#app {
  min-width: 40vw;
  max-width: 60ch;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  :is(th, td) {
    text-align: left;
    padding: 0.25rem 0.5rem;
    vertical-align: top;
    border: thin solid rgb(229, 231, 235, 0.3);
  }
}
